<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo Flask</title>
  </head>
  <body>
    <h1>Demo Flask WebApp</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
      provident amet quam quis aliquid dicta ratione asperiores perferendis
      mollitia voluptatibus. Minus maiores vitae consectetur culpa quasi
      necessitatibus, reiciendis neque? Beatae?
    </p>
  </body>
</html>
