USE [ScuolaDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_VotoStudentiSopraMedia]    Script Date: 20/03/2026 15:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_VotoStudentiSopraMedia]
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
        StudenteId,
        Nome + ' ' + Cognome as 'Nome completo dello Studente'
    FROM Studente
    WHERE StudenteId IN (
        SELECT StudenteId
        FROM Esame
        GROUP BY StudenteId
        HAVING AVG(Voto) > (
            SELECT AVG(Voto) FROM Esame
        )
    );
END
