USE [ScuolaDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStudeni]    Script Date: 20/03/2026 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Moussa
-- Create date: 19/0326
-- Description:	Visualizza tutta la lista degli studenti
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllStudenti]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Studente
END
